.card{
	border-radius: 10px;
	width: 100%; margin-top: 20px; padding: 10px 25px;
}
.skills{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}
.skill{
	width: 150px;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill-value{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 110px;
  	margin-top: 10px;
}
.fa-star{
	font-size: 20px;
	color: gray;
}
.checked{
	color: orange;
}
.icon{
	height: 75px;
	max-width: 140px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.projects{
	padding-left: 30px;
	padding-right: 30px;
}
.project{
	border: 1px solid white;
	border-radius: 10px;
	height: 410px;
	width: 363px;
	margin: 0 20px;
	padding: 10px;
	position: relative;
}
.backend{
	background: rgba(26, 143, 227, 0.2);
}
.devops{
	background: rgba(30, 60, 0, 0.2);
}
.frontend{
	background: rgba(188, 0, 34, 0.2);
}
.language{
	background: rgba(133, 46, 186, 0.2);
}
@media(max-width: 400px){
	.skill{
		width: 145px;
	}
}
@media(max-width:  390px){
	.skill{
		width: 130px;
	}
	.icon{
		max-width: 120px;
	}
}